<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.happylifeplat.sqlServerWechat.mapper.SqlServerUserMapper">

	<select id="getUserIdByPhone" parameterType="java.lang.String" resultType="java.lang.String">
		select Id from Users where Phone = #{value} and IsDisable = 0
	</select>

	<select id="getPhoneByUserId" parameterType="java.lang.String" resultType="java.lang.String">
		select Phone from Users where Id = #{value} and IsDisable = 0
	</select>

</mapper>